ion-toolbar {
    padding-bottom: 50px;
    --background:  rgb(91, 149, 172);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

ion-card-header {
    --background: grey;
    color: white;
    text-align: center;
}